:root {
    --mainEng-font: "Playfair Display";
    --mainKorL-font: 'Pretendard-L';
    --mainNum-font: "EB Garamond";

    --mainKorM-font: 'Pretendard-M';
    --mainKorSB-font: 'Pretendard-SB';
    --mainKorB-font: 'Pretendard-B';

    --mainColor100-color: #003058;
    --mainColor200-color: #046BA9;

    --subColor100-color: #F0F9FF;
    --subColor200-color: #BAE5FD;
    --subColor300-color: #7ED0FB;
    --subColor400-color: #0380C6;

   --font-size-EngT1-P: 50px;
   --font-size-EngT1-M: 45px;

   --font-size-EngST1-P: 18px;

   --font-size-KorT1-P: 50px;

   --font-size-KorST1: 28px;
   --font-size-KorST2: 22px;
   --font-size-KorST3: 18px;

   --font-size-Num1-P: 70px;
   --font-size-Num1-M: 65px;

    --white: #fff;

    font-family: var(--mainEng-font), var(--mainKorR-font), var(--mainNum-font);
    font-size: 20px;
    line-height: 1.5;
    font-weight: 400;

    /* 텍스트 렌더링 할때 안티엘리어싱 설정하는 데 사용  */
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;

    /* 텍스트 크기 조정할 때 허용 제한 */
    -webkit-text-size-adjust: 100%;
}

body {
    color: var(--white);
}
