#about {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #f00;
}
#about .jellyfish_five {
  position: absolute;
  left: 5%;
  top: 5%;
  z-index: 99;
}
#about .about_left {
  position: relative;
}
#about .about_left .about_box {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
#about .about_left .about_box .about_photo {
  background-color: rgba(255, 255, 255, 0.5);
}
#about .about_left .about_box .about_desc {
  position: absolute;
  left: 0%;
  bottom: -80px;
  line-height: 1.5;
}
#about .about_left .about_box .about_desc h2 {
  font-family: var(--mainKorM-font);
}
#about .about_left .about_box .about_desc p {
  font-family: var(--mainKorL-font);
}
#about .about_right {
  position: relative;
  margin: auto;
  overflow: hidden;
}
#about .about_right .aboutSwiper {
  width: 100%;
  height: 100%;
  overflow: visible;
}
#about .about_right .aboutSwiper::after {
  content: "";
  width: 1px;
  height: 700px;
  position: absolute;
  left: 0;
  top: 0;
  background: repeating-linear-gradient(to bottom, transparent 0, transparent 5px, rgba(4, 107, 169, 0.5) 0px, rgba(4, 107, 169, 0.5) 15px);
}
#about .about_right .aboutSwiper .swiper-slide {
  width: 100%;
  height: 100%;
}
#about .about_right .aboutSwiper .swiper-slide .about_title {
  position: absolute;
  font-family: var(--mainEng-font);
  text-transform: capitalize;
  font-style: italic;
  font-weight: 700;
  padding-bottom: 50px;
  white-space: nowrap;
}
#about .about_right .aboutSwiper .swiper-slide .about_title span {
  font-family: var(--mainKorL-font);
  font-size: var(--font-size-KorST2);
  font-weight: 500;
  font-style: normal;
  padding-left: 10px;
}
#about .about_right .aboutSwiper .swiper-slide .about_line {
  padding: 100px 0 150px 0;
  position: absolute;
  left: -6px;
  top: 50%;
  transform: translateY(-50%);
}
#about .about_right .aboutSwiper .swiper-slide .about_line::after {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.3);
  position: absolute;
  left: 0;
  top: 0;
}
#about .about_right .aboutSwiper .swiper-slide .about_line::before {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.3);
  position: absolute;
  left: 0;
  bottom: 0;
}
#about .about_right .aboutSwiper .swiper-slide .about_sub-title {
  position: absolute;
  font-family: var(--mainKorL-font);
  font-size: var(--font-size-KorST3);
  font-weight: 300;
}
#about .about_right .swiper-button-prev {
  position: absolute;
  top: 40%;
  border: 1px solid rgba(255, 255, 255, 0.5);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  transform: rotate(90deg);
}
#about .about_right .swiper-button-prev::after {
  font-size: 15px;
  color: rgba(255, 255, 255, 0.5);
}
#about .about_right .swiper-button-next {
  position: absolute;
  top: 60%;
  border: 1px solid rgba(255, 255, 255, 0.5);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  transform: rotate(90deg);
}
#about .about_right .swiper-button-next::after {
  font-size: 15px;
  color: rgba(255, 255, 255, 0.5);
}

@media (max-width: 767px) {
  #about {
    height: 100vh;
    flex-direction: column;
  }
  #about .about_left {
    width: 100%;
    height: 50vh;
  }
  #about .about_left .about_photo {
    width: 250px;
    height: 300px;
  }
  #about .about_right {
    width: 90%;
    height: 50vh;
  }
  #about .about_right #aboutSwiper-box {
    width: 100%;
    margin-left: 80px;
    height: 45vh;
  }
  #about .about_right .swiper-button-next {
    left: 0;
  }
  #about .about_right .swiper-button-prev {
    left: 0;
  }
  #about .about_right .about_line {
    width: 75vw;
    overflow: hidden;
  }
  #about .about_right .about_title {
    left: 29vw;
    top: 15%;
    font-size: var(--font-size-EngT1-M);
  }
  #about .about_right .about_title span {
    display: none;
  }
  #about .about_right .about_sub-title {
    left: 29vw;
    top: 40%;
  }
  #about .about_right .about_sub-title li {
    padding: 10px 0;
    white-space: nowrap;
    display: flex;
    flex-direction: column;
  }
  #about .about_right .about_sub-title li span {
    padding: 10px 30px;
  }
  #about .about_right .about_sub-title.Iam li {
    padding: 20px 0;
  }
  #about .about_right .about_sub-title.Iam .num {
    position: relative;
  }
  #about .about_right .about_sub-title.Iam .num h2 {
    position: absolute;
    top: -35px;
    left: -20px;
    font-family: var(--mainNum-font);
    font-size: var(--font-size-Num1-M);
    font-style: italic;
    font-weight: 700;
    opacity: 0.3;
    line-height: 1;
  }
  #about .about_right .about_sub-title.Iam .num h3 {
    font-family: var(--mainKorM-font);
    font-size: var(--font-size-KorST3);
    line-height: 1.5;
  }
  #about .about_right .about_sub-title.Iam .num h3 span {
    font-family: var(--mainKorSB-font);
    text-transform: capitalize;
  }
  #about .about_right .about_sub-title.career li span {
    padding: 10px 90px;
  }
  #about .about_right .about_sub-title.license {
    left: 25vw;
  }
  #about .about_right .about_sub-title.license li {
    display: inline-block;
  }
  #about .about_right .about_sub-title.license li em {
    display: inline-block;
    width: 80px;
  }
  #about .about_right .about_sub-title.license li span {
    padding: 0;
  }
  #about .about_right .about_sub-title.skills {
    width: 40vw;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  #about .about_right .about_sub-title.skills img {
    width: 55px;
    height: 55px;
    object-fit: cover;
  }
}
@media (min-width: 768px) {
  #about {
    height: 100vh;
    flex-direction: column;
  }
  #about .about_left {
    width: 100%;
    height: 50vh;
  }
  #about .about_left .about_photo {
    width: 250px;
    height: 300px;
  }
  #about .about_right {
    width: 90%;
    height: 50vh;
  }
  #about .about_right #aboutSwiper-box {
    width: 80%;
    margin-left: 80px;
    height: 100%;
  }
  #about .about_right .swiper-button-next {
    left: 0;
  }
  #about .about_right .swiper-button-prev {
    left: 0;
  }
  #about .about_right .aboutSwiper .about_line {
    width: 70vw;
    overflow: hidden;
  }
  #about .about_right .aboutSwiper .about_line .slidelineP {
    display: none;
  }
  #about .about_right .about_title {
    left: 200px;
    top: 15%;
    font-size: var(--font-size-EngT1-P);
    white-space: nowrap;
  }
  #about .about_right .about_sub-title {
    left: 200px;
    top: 40%;
  }
  #about .about_right .about_sub-title li {
    padding: 10px 0;
    line-height: 1.5;
  }
  #about .about_right .about_sub-title.Iam li {
    padding: 20px 0;
    white-space: wrap;
  }
  #about .about_right .about_sub-title.Iam .num {
    position: relative;
  }
  #about .about_right .about_sub-title.Iam .num h2 {
    position: absolute;
    top: -35px;
    left: -15px;
    font-family: var(--mainNum-font);
    font-size: var(--font-size-Num1-P);
    font-style: italic;
    font-weight: 700;
    opacity: 0.3;
    line-height: 1;
  }
  #about .about_right .about_sub-title.Iam .num h3 {
    font-family: var(--mainKorM-font);
    font-size: var(--font-size-KorST2);
    line-height: 1.5;
  }
  #about .about_right .about_sub-title.Iam .num h3 span {
    font-family: var(--mainEng-font);
    font-size: var(--font-size-KorST1);
    font-weight: 700;
    text-transform: capitalize;
  }
  #about .about_right .about_sub-title.Iam .num p {
    padding-left: 20px;
  }
  #about .about_right .about_sub-title.license li em {
    display: inline-block;
    width: 80px;
  }
  #about .about_right .about_sub-title.license li span {
    padding: 0;
  }
  #about .about_right .about_sub-title.skills {
    width: 350px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  #about .about_right .about_sub-title.skills img {
    width: 60px;
    height: 60px;
    object-fit: cover;
  }
  #about .about_right .about_sub-title.education li {
    white-space: nowrap;
  }
  #about .about_right .about_sub-title.education li em {
    display: inline-block;
    width: 120px;
  }
}
@media (min-width: 1024px) {
  #about {
    flex-direction: row;
  }
  #about .about_left {
    width: 45vw;
  }
  #about .about_left .about_photo {
    width: 300px;
    height: 400px;
  }
  #about .about_right {
    width: 45%;
    height: 80vh;
  }
  #about .about_right .about_title {
    top: 28%;
  }
  #about .about_right .about_sub-title {
    top: 45%;
  }
  #about .about_right .about_sub-title li {
    white-space: nowrap;
  }
}