#about {
  overflow: visible;
}
#about .about_wrap {
  position: relative;
  margin: auto;
  /* left_tit */
  /* right_cont */
}
#about .about_wrap * {
  word-break: keep-all;
}
#about .about_wrap .txt {
  position: sticky;
  z-index: 50;
}
#about .about_wrap .txt ul {
  margin-top: 30px;
}
#about .about_wrap .txt ul li {
  position: relative;
  font-size: 22px;
  font-weight: 700;
  transition: all 0.3s;
  margin-top: 20px;
  color: rgba(255, 255, 255, 0.5);
  text-transform: capitalize;
}
#about .about_wrap .txt ul li.on {
  padding-left: 40px;
  color: var(--mainColor-color);
  transition: all 0.3s;
}
#about .about_wrap .txt ul .item01.on:after {
  content: "01.";
  position: absolute;
  top: 50%;
  left: 0px;
  transform: translateY(-50%);
}
#about .about_wrap .txt ul .item02.on:after {
  content: "02.";
  position: absolute;
  top: 50%;
  left: 0px;
  transform: translateY(-50%);
}
#about .about_wrap .txt ul .item03.on:after {
  content: "03.";
  position: absolute;
  top: 50%;
  left: 0px;
  transform: translateY(-50%);
}
#about .about_wrap .txt ul .item04.on:after {
  content: "04.";
  position: absolute;
  top: 50%;
  left: 0px;
  transform: translateY(-50%);
}
#about .about_wrap .cont-box .cont {
  position: relative;
}
#about .about_wrap .cont-box .cont::after {
  content: "";
  width: 1px;
  height: 100%;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  background: repeating-linear-gradient(to bottom, transparent 0, transparent 5px, rgba(255, 255, 255, 0.2) 0px, rgba(255, 255, 255, 0.2) 15px);
}
#about .about_wrap .cont-box .cont.on .about_title::before {
  width: 100%;
}
#about .about_wrap .cont-box .cont .about_title {
  position: absolute;
  font-family: var(--mainEng-font);
  text-transform: capitalize;
  font-style: italic;
  font-weight: 700;
  white-space: nowrap;
  z-index: 1;
}
#about .about_wrap .cont-box .cont .about_title span {
  font-family: var(--mainKorL-font);
  font-size: 28px;
  font-weight: 500;
  font-style: normal;
  padding-left: 10px;
}
#about .about_wrap .cont-box .cont .about_title::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 25px;
  background-color: rgba(48, 240, 226, 0.5);
  z-index: -1;
  transition: 0.35s;
}
#about .about_wrap .cont-box .cont .txt_container {
  position: absolute;
}
#about .about_wrap .cont-box .cont .txt_container li {
  position: relative;
  font-family: var(--mainKorT-font);
  font-weight: 300;
  line-height: 1.5;
  margin: 20px 0;
  color: var(--subColor100-color);
}
#about .about_wrap .cont-box .cont .txt_container li em {
  display: block;
}
#about .about_wrap .cont-box .cont .txt_container li span {
  font-family: var(--mainKorL-font);
  margin: 10px 0;
  color: var(--white);
}
#about .about_wrap .cont-box .cont.cont01 li {
  margin: 30px 0;
}
#about .about_wrap .cont-box .cont.cont01 .num {
  position: absolute;
  top: -30px;
  left: -20px;
  font-family: var(--mainNum-font);
  font-size: var(--font-size-Num1-P);
  font-style: italic;
  font-weight: 700;
  opacity: 0.3;
  line-height: 1;
}
#about .about_wrap .cont-box .cont.cont01 .iam-title {
  font-family: var(--mainKorM-font);
  color: var(--subColor100-color);
}
#about .about_wrap .cont-box .cont.cont01 .iam-title span {
  font-family: var(--mainEng-font);
  font-weight: 600;
  text-transform: capitalize;
  color: var(--mainColor-color);
}
#about .about_wrap .cont-box .cont.cont01 .iam-detail {
  padding: 10px 0px 10px 20px;
}
#about .about_wrap .cont-box .cont.cont01 .iam-detail span {
  font-weight: 600;
}
#about .about_wrap .cont-box .cont.cont04 .txt_container li {
  margin: 0;
}
#about .about_wrap .cont-box .cont.cont04 .txt_container.skill {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

@media (max-width: 767px) {
  #about .about_wrap {
    width: 100%;
  }
  #about .about_wrap .txt {
    top: 0;
    width: 100%;
    height: 30vh;
    background-color: #0B0C1F;
    text-align: center;
  }
  #about .about_wrap .txt .title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  #about .about_wrap .txt .cate {
    display: none;
  }
  #about .about_wrap .cont-box {
    width: 100%;
  }
  #about .about_wrap .cont-box .cont {
    height: 70vh;
  }
  #about .about_wrap .cont-box .cont:not(:nth-child(4)) {
    border-bottom: 1px dashed rgba(255, 255, 255, 0.5);
  }
  #about .about_wrap .cont-box .cont .about_title {
    left: 50%;
    top: 25%;
    transform: translateX(-50%);
    font-size: 2rem;
    padding: 10px 0;
  }
  #about .about_wrap .cont-box .cont .about_title span {
    font-size: 1rem;
  }
  #about .about_wrap .cont-box .cont .txt_container {
    width: 70%;
    left: 50%;
    transform: translateX(-50%);
  }
  #about .about_wrap .cont-box .cont .txt_container li {
    font-size: 1rem;
  }
  #about .about_wrap .cont-box .cont.cont01 .about_title {
    top: 5%;
  }
  #about .about_wrap .cont-box .cont.cont01 .txt_container {
    width: 90%;
    top: 20%;
    transform: translateX(-47%);
  }
  #about .about_wrap .cont-box .cont.cont01 .txt_container .iam-title {
    font-size: 1.2rem;
  }
  #about .about_wrap .cont-box .cont.cont01 .txt_container .iam-detail {
    font-size: 1rem;
  }
  #about .about_wrap .cont-box .cont.cont02 .about_title {
    top: 10%;
  }
  #about .about_wrap .cont-box .cont.cont02 .txt_container {
    top: 25%;
  }
  #about .about_wrap .cont-box .cont.cont03 .about_title {
    top: 5%;
  }
  #about .about_wrap .cont-box .cont.cont03 .txt_container {
    top: 20%;
  }
  #about .about_wrap .cont-box .cont.cont04 .about_title {
    top: 30%;
  }
  #about .about_wrap .cont-box .cont.cont04 .txt_container {
    top: 45%;
  }
  #about .about_wrap .cont-box .cont.cont04 .txt_container.skill {
    width: 300px;
  }
  #about .about_wrap .cont-box .cont.cont04 .txt_container.skill img {
    width: 60px;
  }
  #about .about_wrap .cont-box .cont::after {
    display: none;
  }
}
@media (min-width: 768px) {
  #about {
    height: 400vh;
  }
  #about .about_wrap {
    display: flex;
    width: 100%;
    height: auto;
  }
  #about .about_wrap .txt {
    width: 35%;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    padding-left: 100px;
    height: 100%;
  }
  #about .about_wrap .cont-box {
    width: 65%;
  }
  #about .about_wrap .cont-box .cont {
    height: 100vh;
  }
  #about .about_wrap .cont-box .cont .about_title {
    left: 5%;
    top: 25%;
    font-size: 2.5rem;
    padding: 10px 30px 10px 10px;
  }
  #about .about_wrap .cont-box .cont .about_title span {
    font-size: 1.5rem;
  }
  #about .about_wrap .cont-box .cont .txt_container {
    width: 70%;
    left: 10%;
    top: 35%;
  }
  #about .about_wrap .cont-box .cont .txt_container li {
    font-size: 1rem;
  }
  #about .about_wrap .cont-box .cont.cont01 .txt_container {
    width: 90%;
  }
  #about .about_wrap .cont-box .cont.cont01 .iam-title {
    font-size: 1.3rem;
  }
  #about .about_wrap .cont-box .cont.cont01 .iam-detail {
    font-size: 1rem;
  }
  #about .about_wrap .cont-box .cont.cont04 .txt_container.skill {
    width: 500px;
    padding-top: 50px;
  }
  #about .about_wrap .cont-box .cont.cont04 .txt_container.skill img {
    width: 70px;
  }
}
@media (min-width: 1024px) {
  #about .about_wrap .txt {
    width: 50%;
  }
  #about .about_wrap .cont-box {
    width: 50%;
  }
  #about .about_wrap .cont-box .cont .about_title {
    left: 18%;
  }
  #about .about_wrap .cont-box .cont .txt_container {
    left: 22%;
  }
}