.jellyfish {
  position: absolute;
  pointer-events: none;
  z-index: 99;
}

@media (max-width: 767px) {
  .jellyfish5 img {
    width: 300px;
  }
}
@media (min-width: 768px) {
  .jellyfish5 img {
    width: 300px;
  }
}
@media (min-width: 1024px) {
  .jellyfish5 img {
    width: 400px;
  }
}