@charset "UTF-8";
#footer {
  position: relative;
  overflow: hidden;
  height: 100vh;
  background: linear-gradient(to bottom, #4385AF, #024A7B, #003058);
  border: 1px solid #f00;
}
#footer .stage {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}
#footer .stage .textField {
  display: flex;
  justify-content: center;
  /* 깜빡임 효과 */
}
#footer .stage .textField .big {
  font-size: 1.5rem;
  color: rgb(255, 255, 255);
}
#footer .stage .textField .cusor {
  width: 3px;
  height: 1.5rem;
  background: rgb(255, 255, 255);
  position: relative;
  left: 10px;
  top: -3px;
  opacity: 1;
  animation: blink 1s step-end infinite; /* 깜빡이는 애니메이션 */
}
@keyframes blink {
  50% {
    opacity: 0;
  }
}
.slide-container{
  position: relative;
  height: 100vh;
 display: flex;

 align-items: center;
 justify-content: center;

 
}
ul.flow_list{width: 100%; }

.splide {
  width: 100%;
  padding: 2vw;
}

.splide .splide__track ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 5vw;
  text-transform: uppercase;
  font-weight: 800;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.splide.ltl li img {
  width: 5vw;
  height: 5vw;
}

.splide .splide__track-1 ul li {

  -webkit-text-stroke: 2px black;
  color: transparent;
}

.splide .splide__track-2 {
transform: rotate(2deg);

}

.splide.rtl ul li img {
  height: 20vw;
}

.splide .splide__track-3 {
  background: var(--subBg500);
  transform: rotate(-2deg);

}

