@charset "UTF-8";
#footer {
  position: relative;
  overflow: hidden;
  height: 50vh;
  background: linear-gradient(to bottom, #4385AF, #024A7B, #003058);
  border: 1px solid #f00;
}
#footer .stage {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}
#footer .stage .textField {
  display: flex;
  justify-content: center;
  /* 깜빡임 효과 */
}
#footer .stage .textField .big {
  font-size: 1.5rem;
  color: rgb(255, 255, 255);
}
#footer .stage .textField .cusor {
  width: 3px;
  height: 1.5rem;
  background: rgb(255, 255, 255);
  position: relative;
  left: 10px;
  top: -3px;
  opacity: 1;
  animation: blink 1s step-end infinite; /* 깜빡이는 애니메이션 */
}
@keyframes blink {
  50% {
    opacity: 0;
  }
}
#footer .wsplide .splide__track {
  border: 1px solid #000;
}
#footer .wsplide .splide__track .splide__list {
  display: flex;
}
#footer .wsplide .splide__track .splide__list img {
  width: 4vw;
}
#footer .wsplide .splide__track .splide__list .splide__slide {
  color: #fff;
  padding: 10px;
  font-size: 2vw;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  padding: 10px 20px;
}
#footer .wsplide .splide__track .splide__list .splide__slide.is-active {
  color: rgb(255, 196, 0);
}