@charset "UTF-8";
#footer {
  position: relative;
  overflow: hidden;
  height: 40vh;
  background-color: #090a1b;
}
#footer .wsplide {
  width: 100%;
  background-color: #fff;
  padding: 20px 0;
  position: relative;
  top: 0;
  right: 0;
}
#footer .wsplide:hover .background-image {
  animation-play-state: paused;
}
#footer .wsplide #splide1 .splide__slide {
  font-family: var(--mainKorM-font);
  font-size: 1.5rem;
}
#footer .wsplide #splide1 .splide__track .splide__list .splide__slide {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  padding: 5px;
  color: rgba(11, 12, 31, 0.5);
  text-transform: uppercase;
}
#footer .wsplide #splide1 .splide__track .splide__list .splide__slide.is-active {
  color: #0B0C1F;
  font-family: var(--mainKorB-font);
}
#footer .wsplide .background-image {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -18px;
  height: 50px;
  background-image: url("/src/assets/images/circle.png");
  /* 원형 이미지 */
  background-repeat: repeat;
  background-size: 60px 50px;
  animation: moveBackground 25s linear infinite;
  filter: invert(1);
}
@keyframes moveBackground {
  0% {
    background-position: 100% 0;
  }
  100% {
    background-position: 0 0;
  }
}
#footer .contact {
  position: relative;
  width: 60%;
  top: 35%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}
#footer .contact li {
  position: relative;
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.35s;
}
#footer .contact li:hover p {
  opacity: 1;
  bottom: -30px;
  transition: 0.35s;
}
#footer .contact li img {
  width: 50px;
  filter: invert(1);
  padding: 10px;
}
#footer .contact li p {
  position: absolute;
  bottom: -100px;
  opacity: 0;
}