#intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
#intro h2 {
  font-size: 5rem;
  position: relative;
  font-style: italic;
  font-weight: 700;
  color: var(--subColor100-color);
  font-family: var(--mainEng-font);
}
#intro h2 em {
  color: var(--mainColor100-color);
  font-weight: 800;
}
#intro .dots {
  width: 50px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#intro .dots .dot {
  background-color: var(--subColor200-color);
  border-radius: 50%;
  margin: 10px auto;
}
#intro p {
  font-size: 1.3rem;
  line-height: 1.5;
  color: var(--subColor100-color);
  font-family: var(--mainKorM-font);
  letter-spacing: 1px;
}
#intro p em {
  color: var(--mainColor100-color);
  font-family: var(--mainKorSB-font);
}

@media (max-width: 767px) {
  #intro h2 {
    font-size: 3.5rem;
  }
}
@media (min-width: 768px) {
  #intro h2 {
    font-size: 4rem;
  }
}