.path-box {
  position: absolute;
  max-width: 800px;
  width: 100%;
  margin: auto;
}

.path {
  fill: none;
  stroke: rgba(0, 0, 0, 0);
  stroke-width: 5px;
}

.jellyfish1 {
  border: 1px solid rgba(0, 0, 0, 0);
  height: 60px;
  width: 60px;
  background-image: url(/src/assets/images/jellyfish1.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.jellyfish {
  position: absolute;
  animation: bounce-top 1s infinite;
}

.jellyfish2 {
  right: 20%;
  top: 20%;
}

.jellyfish3 {
  left: 35%;
  bottom: 5%;
}

.jellyfish4 {
  left: 5%;
  top: 5%;
}

.jellyfish5 {
  left: 40%;
  top: 68%;
}

@keyframes bounce-top {
  0% {
    transform: translateY(0);
    animation-timing-function: ease-in;
  }
  40% {
    transform: translateY(-25px);
    animation-timing-function: ease-in;
  }
  65% {
    transform: translateY(-10px);
    animation-timing-function: ease-in;
  }
  100% {
    transform: translateY(0px);
    animation-timing-function: ease-out;
  }
}