.path-box {
  position: absolute;
  max-width: 800px;
  width: 100%;
  margin: auto;
}

.path {
  fill: none;
  stroke: rgba(0, 0, 0, 0);
  stroke-width: 5px;
}

.jellyfish1 {
  display: block;
  height: 60px;
  width: 60px;
}