#project {
  display: flex;
  justify-content: space-between;
}
#project .tabs {
  position: relative;
  width: 33.333%;
}
#project .tabs .tab-menu {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translateX(-50%);
}
#project .tabs .tab-menu li a {
  display: block;
  width: 200px;
  padding: 20px;
  font-size: 38px;
  -webkit-text-stroke: 0.5px #ffffff;
  color: transparent;
  letter-spacing: 1px;
  transition: 0.5s;
  text-transform: capitalize;
  cursor: pointer;
  white-space: nowrap;
}
#project .tabs .tab-menu li a.on {
  font-size: 48px;
  color: #ffffff;
  font-weight: bold;
}
#project .hSwiper {
  position: relative;
  width: 33.333%;
  height: 100vh;
  overflow: hidden;
}
#project .hSwiper .project {
  position: absolute;
  bottom: 15%;
  left: 50%;
  transform: translateX(-50%);
  width: 450px;
  overflow: hidden;
}
#project .hSwiper .project img {
  width: 100%;
  object-fit: cover;
}
#project #vslide {
  width: 33.333%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#project #vslide .vSwiper {
  height: 50vh;
  overflow: hidden;
}
#project #vslide .vSwiper .swiper-slide {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
#project #vslide .vSwiper .swiper-slide h2 {
  font-family: NotoSansKR-Medium;
  font-size: 52px;
  font-weight: 500;
  line-height: 54px;
  letter-spacing: 1px;
  text-transform: capitalize;
  margin-top: 100px;
  -webkit-text-stroke: 1px #fff;
  color: transparent;
}
#project #vslide .vSwiper .swiper-slide .project_desc li {
  display: inline-block;
  font-size: 24px;
  font-weight: 600;
  padding: 10px 0;
}
#project #vslide .vSwiper .swiper-slide h3 {
  font-size: 28px;
  font-weight: 500;
  line-height: 54px;
  letter-spacing: 1px;
}
#project #vslide .vSwiper .swiper-slide p {
  font-size: 20px;
  font-weight: 400;
  line-height: 1.5;
}