.title {
  z-index: 50;
}
.title span {
  display: inline-block;
  line-height: 1.6;
  font-family: var(--mainEng-font);
  font-weight: 700;
  text-transform: uppercase;
  -webkit-text-stroke: 1px #30F0E2;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-repeat: no-repeat;
  transition: 1s;
<<<<<<< HEAD
=======
  color: transparent;
>>>>>>> ac610dbbabaec0f2305c5b1b20f026bcf000a3c9
  background-image: linear-gradient(-225deg, #30F0E2 0%, #c8f5ed 48%, #5DF2D6 100%);
  background-size: 0 100%;
  cursor: pointer;
}
.title span:hover {
  background-size: 100% 100%;
}
.title em {
  display: block;
  font-family: var(--mainKorL-font);
  letter-spacing: 1px;
  -webkit-text-stroke: none;
  line-height: 1.5;
}

@media (max-width: 767px) {
  .title span {
    font-size: 2.5rem;
  }
  .title em {
    width: 330px;
    margin: auto;
    font-size: 1rem;
  }
}
@media (min-width: 768px) {
  .title span {
    font-size: 4rem;
    white-space: nowrap;
  }
  .title em {
    font-size: 1.1rem;
  }
}