.title {
  z-index: 50;
}
.title span {
  display: inline-block;
  line-height: 1.6;
  font-family: var(--mainEng-font);
  font-weight: 600;
  text-transform: uppercase;
  -webkit-text-stroke: 1px #fff;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-repeat: no-repeat;
  transition: 1s;
  color: transparent;
  background-image: linear-gradient(-225deg, rgb(93, 159, 255) 0%, #B8DCFF 48%, #6BBBFF 100%);
  background-size: 0 100%;
  cursor: pointer;
}
.title span:hover {
  background-size: 100% 100%;
}
.title em {
  display: block;
  font-family: var(--mainKorT-font);
  letter-spacing: 1px;
  -webkit-text-stroke: none;
  line-height: 1.5;
}

@media (max-width: 767px) {
  .title span {
    font-size: 2.5rem;
  }
  .title em {
    width: 330px;
    margin: auto;
    font-size: 1rem;
  }
}
@media (min-width: 768px) {
  .title span {
    font-size: 4rem;
    white-space: nowrap;
  }
  .title em {
    font-size: 1.1rem;
    white-space: nowrap;
  }
}