.title {
  font-size: 3vw;
  line-height: 1.6;
  font-family: var(--mainEng-font);
  font-weight: 600;
  text-transform: uppercase;
  color: var(--subColor100-color);
  position: sticky;
  top: 100px;
  padding: 2%;
}

.title em {
  display: block;
  font-family: var(--mainKorT-font);
  letter-spacing: 1px;
  font-size: 22px;
}