#work .work__wrap {
  display: flex;
  width: 200%;
  gap: 100px;
  margin-top: 250px;
  align-items: flex-start;
  padding: 0 100px;
  border: 1px solid #bb2020;
}
#work article.work__item {
  position: relative;
  max-width: 300px;
  flex-shrink: 0;
  color: #000;
  cursor: pointer;
}
#work article.work__item:hover a::after {
  opacity: 1;
}
#work article.work__item:hover .desc-box {
  opacity: 1;
}
#work article.work__item:hover img {
  transform: scale(1.2);
}
#work article.work__item:hover .num em {
  color: rgb(255, 255, 255);
}
#work article.work__item a {
  display: inline-block;
  border-radius: 20px;
  overflow: hidden;
}
#work article.work__item a::after {
  opacity: 0;
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  transition: 0.5s;
  border-radius: 20px;
}
#work article.work__item img {
  width: 100%;
  transition: 0.35s;
}
#work article.work__item .num {
  position: absolute;
  right: 10px;
  top: -20px;
  font-family: var(--mainNum-font);
  font-size: 38px;
  color: rgba(255, 255, 255, 0.5);
  font-weight: 600;
  z-index: 99;
}
#work article.work__item .desc-box {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  text-align: center;
  white-space: nowrap;
  font-family: var(--mainEng-font);
  text-transform: capitalize;
  color: #fff;
  transition: 0.5s;
  opacity: 0;
  z-index: 50;
}
#work article.work__item .desc-box .item_title {
  font-size: var(--font-size-EngT1-P);
  font-weight: 500;
}