#about {
    overflow: visible;

    .about_wrap {
        position: relative;
        margin: auto;

        & * {
            word-break: keep-all
        }

        /* left_tit */
        .txt {
            position: sticky;
            z-index: 50;

            ul {
                margin-top: 30px;

                li {
                    position: relative;
                    font-size: 22px;
                    font-weight: 700;
                    transition: all .3s;
                    margin-top: 20px;
                    color: rgba(255, 255, 255, .5);
                    text-transform: capitalize;

                    &.on {
                        padding-left: 40px;
                        color: var( --mainColor-color);
                        transition: all .3s
                    }
                }

                .item01.on:after {
                    content: "01.";
                    position: absolute;
                    top: 50%;
                    left: 0px;
                    transform: translateY(-50%);
                }

                .item02.on:after {
                    content: "02.";
                    position: absolute;
                    top: 50%;
                    left: 0px;
                    transform: translateY(-50%)
                }

                .item03.on:after {
                    content: "03.";
                    position: absolute;
                    top: 50%;
                    left: 0px;
                    transform: translateY(-50%)
                }

                .item04.on:after {
                    content: "04.";
                    position: absolute;
                    top: 50%;
                    left: 0px;
                    transform: translateY(-50%)
                }
            }
        }

        /* right_cont */
        .cont-box {

            .cont {
                position: relative;

                // 체크 테두리
                &::after {
                    content: '';
                    width: 1px;
                    height: 100%;
                    position: absolute;
                    left: 0;
                    top: 50%;
                    transform: translateY(-50%);
                    background: repeating-linear-gradient(to bottom,
                            /* 방향 */
                            transparent 0,
                            /* 투명 시작 */
                            transparent 5px,
                            /* 투명 길이 */
                            rgba(255, 255, 255, 0.2) 0px,
                            /* 선 색상 시작 */
                            rgba(255, 255, 255, 0.2) 15px
                            /* 선 색상 길이 */
                        );

                }

                &.on {
                    .about_title {
                        &::before {
                            width: 100%;
                        }
                    }

                }

                .about_title {
                    position: absolute;
                    left: 18%;
                    top: 25%;
                    font-family: var(--mainEng-font);
                    text-transform: capitalize;
                    font-style: italic;
                    font-weight: 700;
                    white-space: nowrap;
                    z-index: 1;


                    span {
                        font-family: var(--mainKorL-font);
                        font-size: 28px;
                        font-weight: 500;
                        font-style: normal;
                        padding-left: 10px;
                    }

                    &::before {
                        content: "";
                        position: absolute;
                        left: 0;
                        bottom: 0;
                        width: 0%;
                        height: 25px;
                        background-color: rgba(48, 240, 226,.5);    
                        z-index: -1;
                        transition: .35s;
                    }

                }

                .txt_container {
                    position: absolute;

                    li {
                        position: relative;
                        font-family: var(--mainKorT-font);
                        font-weight: 300;
                        line-height: 1.5;
                        margin: 20px 0;
                        color: var(--subColor100-color);

                        em {
                            display: block;
                        }

                        span {
                            font-family: var(--mainKorL-font);
                            margin: 10px 0;
                            color: var(--white);
                        }

                    }
                }

                &.cont01 {
                    li {
                        margin: 20px 0;
                    }

                    .num {
                        position: absolute;
                        top: -30px;
                        left: -20px;
                        font-family: var(--mainNum-font);
                        font-size: var(--font-size-Num1-P);
                        font-style: italic;
                        font-weight: 700;
                        opacity: .3;
                        line-height: 1;
                    }

                    .iam-title {
                        font-family: var(--mainKorM-font);
                        color: var(--subColor100-color);

                        span {
                            font-family: var(--mainEng-font);
                            font-weight: 600;
                            text-transform: capitalize;
                            color: var(--white);
                        }
                    }

                    .iam-detail {
                        padding: 10px 0;
                    }

                }

                &.cont04 {
                    .txt_container {
                        li {
                            margin: 0;
                        }

                        &.skill {
                            display: flex;
                            flex-wrap: wrap;
                            gap: 20px;
                        }
                    }
                }
            }



        }
    }

}

@media (max-width:767px) {
    #about {
        .about_wrap {
            width: 100%;

            .txt {
                top: 0;
                width: 100%;
                height: 30vh;
                background-color: #0B0C1F;
                text-align: center;

                .title {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }

                .cate {
                    display: none;
                }
            }

            .cont-box {
                width: 100%;

                .cont {
                    height: 70vh;

                    &:not(:nth-child(4)) {
                        border-bottom: 1px dashed rgba(255, 255, 255, .5);
                    }

                    .about_title {
                        left: 50%;
                        transform: translateX(-50%);
                        font-size: 2rem;
                        padding: 10px 0;

                        span {
                            font-size: 1rem;
                        }
                    }

                    .txt_container {
                        width: 70%;
                        left: 50%;
                        transform: translateX(-50%);

                        li {
                            font-size: 1rem;
                        }
                    }

                    &.cont01 {

                        .about_title {
                            top: 5%;
                        }

                        .txt_container {
                            top: 20%;
                            transform: translateX(-47%);

                            .iam-title {
                                font-size: 1.2rem;
                            }

                            .iam-detail {
                                font-size: 1rem;
                            }
                        }



                    }

                    &.cont02 {
                        .about_title {
                            top: 10%;
                        }

                        .txt_container {
                            top: 25%;
                        }
                    }

                    &.cont03 {
                        .about_title {
                            top: 5%;
                        }

                        .txt_container {
                            top: 20%;
                        }
                    }

                    &.cont04 {
                        .about_title {
                            top: 30%;
                        }

                        .txt_container {
                            top: 45%;

                            &.skill {
                                width: 300px;

                                img {
                                    width: 60px;
                                }
                            }
                        }
                    }

                    &::after {
                        display: none;
                    }
                }
            }
        }


    }
}

@media (min-width:768px) {
    #about {
        height: 400vh;

        .about_wrap {
            display: flex;
            width: 95%;
            height: auto;

            .txt {
                left: 0;
                top: 50%;
                transform: translateY(-50%);
                padding-left: 100px;
                width: 50%;
                height: 100%;
            }

            .cont-box {
                width: 50%;

                .cont {
                    height: 100vh;

                    .about_title {
                        left: 18%;
                        top: 25%;
                        font-size: 2.5rem;
                        padding: 10px 30px 10px 10px;

                        span {
                            font-size: 1.5rem;
                        }
                    }

                    .txt_container {
                        width: 70%;
                        left: 22%;
                        top: 35%;

                        li {
                            font-size: 1rem;
                        }
                    }

                    &.cont01 {

                        .iam-title {
                            font-size: 1.3rem;
                        }

                        .iam-detail {
                            font-size: 1rem;
                        }

                    }

                    &.cont04 {
                        .txt_container {

                            &.skill {
                                width: 500px;
                                padding-top: 50px;

                                img {
                                    width: 70px;
                                }
                            }
                        }
                    }
                }
            }
        }


    }
}
