#about {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .about_left {
        position: relative;

        .about_box {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);

            .about_photo {
                background-color: rgba(255, 255, 255, .5);
            }

            .about_desc {
                position: absolute;
                left: 0%;
                bottom: -80px;
                line-height: 1.5;

                h2 {
                    font-family: var(--mainKorM-font);
                }

                p {
                    font-family: var(--mainKorL-font);
                }

            }
        }
    }

    .about_right {
        position: relative;
        margin: auto;
        overflow: hidden;

        .aboutSwiper {
            width: 100%;
            height: 100%;
            overflow: visible;

            &::after {
                content: '';
                width: 1px;
                height: 500px;
                position: absolute;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
                background: repeating-linear-gradient(to bottom,
                        /* 방향 */
                        transparent 0,
                        /* 투명 시작 */
                        transparent 5px,
                        /* 투명 길이 */
                        rgba(4, 107, 169, .5) 0px,
                        /* 선 색상 시작 */
                        rgba(4, 107, 169, .5) 15px
                        /* 선 색상 길이 */
                    );
            }

            .swiper-slide {
                width: 100%;
                height: 100%;

                .about_title {
                    position: absolute;
                    font-family: var(--mainEng-font);
                    text-transform: capitalize;
                    font-style: italic;
                    font-weight: 700;
                    padding-bottom: 50px;
                    white-space: nowrap;

                    span {
                        font-family: var(--mainKorL-font);
                        font-size: var(--font-size-KorST2);
                        font-weight: 500;
                        font-style: normal;
                        padding-left: 10px;
                    }
                }

                .about_line {
                    padding: 100px 0 150px 0;
                    position: absolute;
                    left: -6px;
                    top: 50%;
                    transform: translateY(-50%);

                    &::after {
                        content: '';
                        width: 10px;
                        height: 10px;
                        border-radius: 50%;
                        border: 1px solid rgba(255, 255, 255, .3);
                        position: absolute;
                        left: 0;
                        top: 0;
                    }

                    &::before {
                        content: '';
                        width: 10px;
                        height: 10px;
                        border-radius: 50%;
                        border: 1px solid rgba(255, 255, 255, .3);
                        position: absolute;
                        left: 0;
                        bottom: 0;
                    }
                }

                .about_sub-title {
                    position: absolute;
                    font-family: var(--mainKorL-font);
                    font-size: var(--font-size-KorST3);
                    font-weight: 300;

                }
            }
        }

        .swiper-button-prev {
            position: absolute;
            border: 1px solid rgba(255, 255, 255, .5);
            border-radius: 50%;
            transform: rotate(90deg);

            &::after {
                font-size: 15px;
                color: rgba(255, 255, 255, .5);
            }
        }

        .swiper-button-next {
            position: absolute;
            border: 1px solid rgba(255, 255, 255, .5);
            border-radius: 50%;
            transform: rotate(90deg);

            &::after {
                font-size: 15px;
                color: rgba(255, 255, 255, .5);
            }
        }

    }

}

@media (max-width:767px) {
    #about {

        .about_left {
            display: none;
        }

        .about_right {
            width: 95%;
            height: 100vh;

            #aboutSwiper-box {
                width: 100%;
                margin-left: 50px;
                height: 100%;
            }

            .swiper-button-prev {
                top: 45%;
                left: 0;
                width: 35px;
                height: 35px;
            }

            .swiper-button-next {
                top: 57%;
                left: 0;
                width: 35px;
                height: 35px;
            }

            .about_line {
                width: 84vw;
                overflow: hidden;
            }

            .about_title {
                left: 29vw;
                top: 35%;
                font-size: var(--font-size-EngT1-M);

                span {
                    display: none;
                }
            }

            .about_sub-title {
                width: 60%;
                left: 27vw;
                top: 48%;

                li {
                    padding: 10px;
                    display: flex;
                    flex-direction: column;
        
                }


                &.Iam {

                    li {
                        padding: 20px 0;
                        white-space: wrap;
                    }

                    .num {
                        position: relative;

                        h2 {
                            position: absolute;
                            top: -35px;
                            left: -15px;
                            font-family: var(--mainNum-font);
                            font-size: var(--font-size-Num1-P);
                            font-style: italic;
                            font-weight: 700;
                            opacity: .3;
                            line-height: 1;
                        }

                        h3 {
                            font-family: var(--mainKorM-font);
                            font-size: var(--font-size-KorST3);
                            line-height: 1.5;

                            span {
                                font-family: var(--mainEng-font);
                                font-size: var(--font-size-KorST2);
                                font-weight: 700;
                                text-transform: capitalize;
                            }
                        }

                        p {
                            padding-left: 20px;
                            font-family: var(--mainKorL-font);
                            font-size: var(--font-size-KorST4);
                            line-height: 1.5;
                        }
                    }
                }

                &.education{
                    span{
                        padding-left: 20px;
                        line-height: 1.5;
                    }
                }


                &.career {
                    li {
                        white-space: nowrap;
                        span {
                            padding: 0 90px;
                            line-height: 1.5;
                        }
                    }
                }

                &.license {
                    left: 25vw;

                    li {
                        display: inline-block;

                        em {
                            display: inline-block;
                            width: 80px;
                        }

                        span {
                            padding: 0;
                        }
                    }
                }

                &.skills {
                    width: 40vw;
                    display: flex;
                    flex-wrap: wrap;
                    gap: 10px;

                    img {
                        width: 55px;
                        height: 55px;
                        object-fit: cover;
                    }

                }
            }
        }

    }

}

@media (min-width:768px) {
    #about {
        height: 100vh;
        flex-direction: column;

        .about_left {
            display: none;
        }

        .about_right {
            width: 90%;
            height: 100vh;

            .swiper-button-prev {
                width: 50px;
                height: 50px;
                top: 40%;
            }

            .swiper-button-next {
                width: 50px;
                height: 50px;
                top: 60%;
            }

            #aboutSwiper-box {
                width: 80%;
                margin-left: 80px;
                height: 100%;
            }

            .swiper-button-next {
                left: 0;
            }

            .swiper-button-prev {
                left: 0;
            }

            .aboutSwiper {
                .about_line {
                    width: 70vw;
                    overflow: hidden;

                    .slidelineP {
                        display: none;
                    }
                }
            }

            .about_title {
                left: 200px;
                top: 35%;
                font-size: var(--font-size-EngT1-P);
                white-space: nowrap;

            }

            .about_sub-title {
                left: 200px;
                top: 48%;

                li {
                    padding: 10px 0;
                    line-height: 1.5;
                }

                &.Iam {

                    li {
                        padding: 20px 0;
                        white-space: wrap;
                    }

                    .num {
                        position: relative;

                        h2 {
                            position: absolute;
                            top: -35px;
                            left: -15px;
                            font-family: var(--mainNum-font);
                            font-size: var(--font-size-Num1-P);
                            font-style: italic;
                            font-weight: 700;
                            opacity: .3;
                            line-height: 1;
                        }

                        h3 {
                            font-family: var(--mainKorM-font);
                            font-size: var(--font-size-KorST2);
                            line-height: 1.5;

                            span {
                                font-family: var(--mainEng-font);
                                font-size: var(--font-size-KorST1);
                                font-weight: 700;
                                text-transform: capitalize;
                            }
                        }

                        p {
                            padding-left: 20px;
                        }
                    }
                }

                &.career{
                    span{
                        padding-left: 15px;
                    }
                }

                &.license {
                    li {

                        em {
                            display: inline-block;
                            width: 80px;
                        }

                        span {
                            padding: 0;
                        }
                    }
                }


                &.skills {
                    width: 350px;
                    display: flex;
                    flex-wrap: wrap;
                    gap: 20px;

                    img {
                        width: 60px;
                        height: 60px;
                        object-fit: cover;
                    }
                }

                &.education {

                    li {
                        white-space: nowrap;

                        em {
                            display: inline-block;
                            width: 120px;
                        }

                    }

                }
            }
        }

    }
}

@media (min-width:1024px) {
    #about {
        flex-direction: row;

        .about_left {
            display: block;
            width: 45vw;

            .about_photo {
                width: 300px;
                height: 400px;
            }
        }

        .about_right {
            width: 45%;
            height: 100vh;

            .swiper-button-prev {
                width: 50px;
                height: 50px;
            }

            .swiper-button-next {
                width: 50px;
                height: 50px;
            }

            .about_title {
                top: 35%;
            }

            .about_sub-title {
                top: 48%;

                li {
                    white-space: nowrap;
                }

            }
        }

    }
}