#footer {
    position: relative;
    overflow: hidden;
    height: 50vh;
    background: linear-gradient(to bottom, #4385AF, #024A7B, #003058);
    z-index: -2;

    .wsplide {
        position: relative;
        width: 100%;
        height: 100%;

        .splide {
            position: absolute;
            width: 100%;

            &#splide1 {
                top: 0;
                right: 0;

                .splide__slide {
                    font-family: var(--mainEng-font);
                    font-size: 2.5vw;

                }
            }

            &#splide2 {
                bottom: 10px;
                left: 0;

                .splide__slide {
                    font-family: var(--mainKorL-font);
                    font-size: 1.5vw;

                    &.is-active {
                        color: var(--white);
                    }
                }
            }
        }

        .splide__track {

            .splide__list {

                img {
                    width: 2vw;
                    filter: invert(1);
                }

                .splide__slide {
                    display: flex;
                    align-items: center;
                    flex-shrink: 0;
                    padding: 20px;
                    -webkit-text-stroke: rgba(255,255,255,.5) 1px;
                    color: transparent;
                    text-transform: uppercase;

                    &.is-active {
                        color: var(--white);
                    }
                }
            }


        }
    }

    .contact {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);

        li {
            padding: 10px;
            display: flex;
            align-items: center;
            gap: 10px;
        }

        p {
            display: inline-block;
            font-family: var(--mainEng-font);
            font-weight: 300;
            letter-spacing: 1px;
            font-size: 1vw;
            line-height: 1.5;
            text-transform: capitalize;

            img {
                width: 30px;
                filter: invert(1);
                padding: 10px;
            }

        }


    }

}