#footer {
    position: relative;
    overflow: hidden;
    height: 40vh;
    background-color: #090a1b;

    .wsplide {
        width: 100%;
        background-color: #fff;
        position: relative;
        top: 0;
        right: 0;

        &:hover {
            .background-image {
                animation-play-state: paused;
            }
        }

        #splide1 {
            .splide__slide {
                font-family: var(--mainKorM-font);
            }

            .splide__track {

                .splide__list {

                    .splide__slide {
                        display: flex;
                        align-items: center;
                        flex-shrink: 0;
                        padding: 5px;
                        color: rgba(11, 12, 31, .5);
                        text-transform: uppercase;

                        &.is-active {
                            color: #0B0C1F;
                            font-family: var(--mainKorB-font);

                        }
                    }
                }


            }
        }

        .background-image {
            position: absolute;
            left: 0;
            right: 0;
            bottom: -18px;
            height: 50px;
            background-image: url('/src/assets/images/circle.png');
            /* 원형 이미지 */
            background-repeat: repeat;
            background-size: 60px 50px;
            animation: moveBackground 25s linear infinite;
            filter: invert(1);
        }

        @keyframes moveBackground {
            0% {
                background-position: 100% 0;
            }

            100% {
                background-position: 0 0;
            }
        }
    }

    .contact {
        position: relative;
        top: 35%;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        align-items: center;
        justify-content: space-between;
        text-align: center;

        li {
            position: relative;
            width: 250px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            transition: .35s;

            &:hover {
                p {
                    opacity: 1;
                    bottom: -40px;
                    transition: .35s;
                }
            }

            img {
                width: 50px;
                filter: invert(1);
                padding: 10px;
            }

            p {
                font-family: var(--mainEng-font);
                position: absolute;
                bottom: -100px;
                opacity: 0;
                font-size: 1rem;
            }


        }
    }

}

@media (max-width:767px) {
    #footer {
        .wsplide {
            padding: 10px 0;

            #splide1 {
                .splide__slide {
                    font-size: 1.2rem;
                }
            }
        }

        .contact {
            width: 90%;

            p {
                width: 130%;
                overflow: hidden;
                white-space: wrap;
                text-overflow: ellipsis;
            }
        }
    }
}

@media (min-width:768px) {
    #footer {
        .wsplide {
            padding: 15px 0;

            #splide1 {
                .splide__slide {
                    font-size: 1.3rem;
                }
            }
        }

        .contact {
            width: 80%;
        }
    }
}

@media (min-width:1024px) {
    #footer {
        .wsplide {
            padding: 20px 0;
            #splide1 {
                .splide__slide {
                    font-size: 1.5rem;
                }
            }
        }

        .contact {
            width: 60%;
        }
    }
}