#header {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
    width: 100%;
    height: 50px;
    font-family: var(--mainEng-font);

    .header_nav {
        text-align: center;

        ul {

            li {
                display: inline-block;

                &:hover {
                    a {
                        color: rgba(255, 255, 255, .7);
                    }
                }

                a {
                    position: relative;
                    color: rgba(255, 255, 255, .4);
                    text-transform: uppercase;
                    display: block;
                    font-family: var(--mainEng-font);
                    letter-spacing: 0.2em;
                    font-size: 18px;
                    font-weight: 500;
                    padding: 15px;
                    transition: .35s;

                    &::before {
                        content: '';
                        width: calc(100% - 20px);
                        height: 1px;
                        background-color: var(--mainColor-color);
                        position: absolute;
                        left: 10px;
                        bottom: 5px;
                        transition: .35s;
                        transform: scaleX(0);
                    }

                    &:hover::before {
                        transform: scaleX(1);
                    }

                    &.on {
                        color: var(--mainColor-color);

                        &::before {
                            transform: scaleX(1);
                        }
                    }
                }
            }

        }

    }

    .header_nav_mobile {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 10px;
        opacity: 0;
        width: 40px;
        height: 40px;
        cursor: pointer;

        span {
            position: relative;
            display: block;
            width: 40px;
            height: 2px;
            background-color: var(--white);
            margin-top: 20px;

            &::before {
                content: '';
                width: 40px;
                height: 2px;
                background-color: var(--white);
                position: absolute;
                top: 10px;
                right: 0;
            }

            &::after {
                content: '';
                width: 40px;
                height: 2px;
                background-color: var(--white);
                position: absolute;
                bottom: 10px;
                left: 0;
            }
        }
    }

}

@media (max-width:767px) {
    #header {
        .header_nav {
            display: none;

            &.show {
                display: block;

                ul {
                    position: absolute;
                    right: 0;
                    top: 50px;
                    background: rgba(0, 0, 0, .5);
                    z-index: 999;
                    min-width: 150px;
                    padding: 20px 10px;

                    &+#header .header_nav_mobile span {
                        &::before {
                            width: 20px;
                        }

                        &::after {
                            width: 20px;
                        }
                    }

                    li {
                        display: block;
                        text-align: right;

                        a {
                            display: inline-block;
                            padding: 10px;
                        }
                    }
                }

            }
        }

        .header_nav_mobile {
            opacity: 1;
        }
    }

}

@media (min-width:768px) {}

@media (min-width:1024px) {}