#home {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; 
    color: #fff;

    .stage {
        height: 280px;
        display: flex;
        justify-content: center;
        align-items: center;
        visibility: hidden;
    }

    h2 {
        font-family: var(--mainEng-font);
        font-weight: 700;
        letter-spacing: 1px; 
        -webkit-text-stroke: 1px #fff;
        color: transparent;   
        text-transform: uppercase;
    
    }

    h2 span {
        display: inline-block;
        color: inherit; 
    }

    .dots {
        width: 50px;
        margin: auto;
        padding-bottom: 60px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .dot {
            background-color: rgba(255,255,255,.8);
            border-radius: 50%;
            margin: 10px auto;
        }
    }


    p {
        line-height: 1.5;
        font-family: var(--mainKorL-font);
        letter-spacing: 1.2px;

        em {
            color: #30F0E2;
            font-family: var(--mainKorSB-font);
        }
    }
}


@media (max-width:767px) {
    #home {
        h2 {
            font-size: 2rem;
            padding: 10px;
            line-height: 1.5;
        }
        p{
            font-size: 1rem;
        }
    }

}

@media (min-width:768px) {
    #home{
        h2 {
            font-size: 2.5rem;
        }

        p{
            font-size: 1.3rem;
        }
    }

}

@media (min-width:1024px) {
    #home{
        h2 {
            font-size: 4rem;
        }

        p{
            font-size: 1.3rem;
        }
    }

}