.jellyfish {
    position: absolute;
    animation: bounce-top 1s infinite;
    z-index: 99;
}

.jellyfish2{
    right: 0;
    bottom: 0;
}

.jellyfish3{
    left: 35%;
    bottom: 5%;
}

.jellyfish4{
    left: 50%;
    transform: translateX(-50%);
    bottom: 0%;
}

.jellyfish5{
    left: 54%;
    top: 0%;

    img{
        width: 300px;
        object-fit: cover;
    }
}

@keyframes bounce-top {
    0% {
        transform: translateY(0);
        animation-timing-function: ease-in;
 
    }

    40% {
        transform: translateY(-25px);
        animation-timing-function: ease-in;
    }

    65% {
        transform: translateY(-10px);
        animation-timing-function: ease-in;
    }


    100% {
        transform: translateY(0px);
        animation-timing-function: ease-out;
    }
}