#uxui {

  .uxui__wrap {
    display: flex;
    align-items: center;
    width: 200%;
    gap: 100px;
    margin-top: 180px;
    padding-left: 120px;
  }

  article {

    &.uxui__item {
      position: relative;
      max-width: 300px;
      flex-shrink: 0;
      // width: 28vw;
      // aspect-ratio: 1/1;
      color: #000;
      cursor: pointer;

      &:hover {
        a {
          &::after {
            opacity: 1;
          }
        }

        .desc-box {
          opacity: 1;
        }

        img {
          transform: scale(1.1);
        }

        .num {

          em {
            color: rgba(255, 255, 255, 1);
          }
        }
      }

      a {
        display: inline-block;
        overflow: hidden;

        &::after {
          opacity: 0;
          content: '';
          width: 100%;
          height: 100%;
          position: absolute;
          left: 0;
          top: 0;
          background-color: rgba(0, 0, 0, .7);
          // background-color: rgba(0, 48, 88,.7);
          transition: .5s;
        }
      }

      img {
        width: 100%;
        transition: .35s;
      }

      .num {
        position: absolute;
        right: 10px;
        top: -20px;
        font-family: var(--mainNum-font);
        font-size: 38px;
        color: rgba(255, 255, 255, .5);
        font-weight: 600;
        z-index: 99;
      }

      .desc-box {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: 100%;
        border-radius: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 10px;
        text-align: center;
        white-space: nowrap;
        font-family: var(--mainEng-font);
        text-transform: capitalize;
        color: #fff;
        transition: .5s;
        opacity: 0;
        z-index: 50;

        .date {
          font-size: 18px;
        }

        .desc {
          font-size: 18px;
        }

        .item_title {
          position: relative;
          font-size: 2rem;
          font-weight: 500;
          text-transform: uppercase;
          line-height: 1.2;
          margin-bottom: 50px;

          &::after {
            content: "";
            width: 30px;
            height: 1px;
            position: absolute;
            bottom: -25px;
            left: 50%;
            transform: translateX(-50%);
            background-color: #fff;
          }
        }
      }

    }
  }

}