

#work {
    display: flex;

    .container {
        position: absolute;
        left: 55%;
        display: flex;
        width: 40%;
        height: 100vh;
        justify-content: space-between;
        /* 컨테이너 높이를 화면 높이로 설정 */

        .splide-wrapper {
            width: 45%;
            height: 100%;
            overflow: hidden;
            background-color: rgba(0, 0, 0, .5);
        }
    
        .splide__slide {
            display: flex;
            align-items: center;
            justify-content: center;
            color: #fff;
            cursor: pointer;
        }
    
        .splide__slide img {
            display: inline-block;
            width: 90%;
        }
    
        .splide__track {
            overflow: visible;
            padding: 20px 0;
        }
    
        .splide {
            height: 30%;
            /* 슬라이더 전체 높이 */
        }
    }

    .work_left{
        position: relative;
        width: 55%;
        height: 100vh;
    }

  
}