#work {
    display: flex;

    .work_left {
        position: relative;
        width: 100%;
        height: 100vh;
    }

    .container {
        position: absolute;

        .splide-wrapper {
            overflow: hidden;
            background-color: rgba(255, 255, 255, .4);

            .splide {

                .splide__track {
                    overflow: visible;

                    .splide__slide {
                        position: relative;
                        width: 100%;
                        height: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        color: #fff;
                        cursor: pointer;

                        &:hover {
                            img {
                                filter: grayscale(0%);
                            }

                            .web-icon {
                                img {
                                    filter: grayscale(0%);
                                }
                            }

                        }

                        img {
                            display: inline-block;
                            height: 100%;
                            filter: grayscale(100%);
                            transition: .35s;
                        }

                        .web-icon {
                            position: absolute;
                            right: 25px;
                            top: 10px;
                            display: flex;
                            gap: 5px;
                            transition: .35s;


                            img {
                                width: auto;
                                height: 35px;
                                object-fit: cover;
                                filter: grayscale(0%) invert(1);

                            }
                        }

                    }
                }
            }
        }
    }


}

/* max-width: 767px */
@media (max-width: 767px) {
    #work {

        .work_left {
            width: 100%;

            .work_title {
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                text-align: center;

            }
        }

        .container {
            width: 100%;
            height: 100vh;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .splide-wrapper {
                width: 100%;
                height: 30vh;

                .splide {
<<<<<<< HEAD

                    .splide__track{
                        padding: 10px 0;
                    }
=======
                    width: 40%;
                    border: 1px solid #f00;
>>>>>>> 4737e518d9e7d128fd73484dc7a7d74caadae92d

                    img {
                        width: 100%;
                    }


                }
            }
        }
    }
}

@media (min-width: 768px) {
    #work {

        .work_left {
            width: 100%;

            .work_title {
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                text-align: center;

            }
        }

        .container {
            width: 100%;
            height: 100vh;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .splide-wrapper {
                width: 100%;
                height: 30vh;

                .splide {
<<<<<<< HEAD
=======
                    width: 18%;
>>>>>>> 4737e518d9e7d128fd73484dc7a7d74caadae92d
                    border: 1px solid #f00;

                    .splide__track{
                        padding: 10px 0;
                    }

                    img{
                        width: 100%;
                    }
                }
            }
        }
    }
}


@media (min-width: 1300px) {
    #work {

        .work_left {
            width: 45%;

            .work_title {
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                text-align: center;
            }
        }

        .container {
            right: 3%;
<<<<<<< HEAD
            width: 45%;
            height: 100vh;
            flex-direction: row;
=======
            width: 50%;
            height: 100vh;
            flex-direction: row;
            border: 1px solid #f00;
>>>>>>> 4737e518d9e7d128fd73484dc7a7d74caadae92d

            .splide-wrapper {
                width: 45%;
                height: 100%;

                .splide {
                    width: 90%;
<<<<<<< HEAD
=======
                    height: 35%;
>>>>>>> 4737e518d9e7d128fd73484dc7a7d74caadae92d
                    margin: auto;

                    .splide__track{
                        padding: 20px 0;
                    }
                }
            }
        }
    }
}