#work {
    display: flex;

    .work_left {
        position: relative;
        height: 100vh;

        .title {
            position: relative;
            width: 85%;
            z-index: 10;

            span {
                margin-bottom: 50px;
            }

            .details {
                padding: 10px;
                text-transform: capitalize;
            }

            .date {
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                top: 35%;
                display: inline-block;
                font-family: var(--mainNum-font);

                &::after {
                    content: '';
                    width: 30px;
                    height: 1px;
                    position: absolute;
                    left: -50px;
                    top: 50%;
                    transform: translateY(-50%);
                    background-color: #fff;
                }

                &::before {
                    content: '';
                    width: 30px;
                    height: 1px;
                    position: absolute;
                    right: -50px;
                    top: 50%;
                    transform: translateY(-50%);
                    background-color: #fff;
                }
            }
        }

        .togglebtnO {
            cursor: pointer;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            bottom: 5%;
            width: 130px;
            height: 30px;
            border: 2px solid rgba(255, 255, 255, .5);
            border-radius: 50px;
            padding: 5px;
            text-align: left;
            box-sizing: content-box;

            &::after {
                display: var(--after-display, block);
                content: '전체보기';
                position: absolute;
                font-size: 15px;
                left: 50px;
                color: rgba(255, 255, 255, .5);
                top: 50%;
                transform: translateY(-50%);
                transition: 1s;
            }

            &::before {
                display: var(--before-display, none);
                content: '슬라이드보기';
                position: absolute;
                font-size: 15px;
                left: 13px;
                color: #30F0E2;
                top: 50%;
                transform: translateY(-50%);
                transition: 1s;
            }

            .togglebtnI {
                position: relative;
                left: 0px;
                cursor: pointer;
                background: rgba(255, 255, 255, .5);
                width: 30px;
                height: 30px;
                border: none;
                border-radius: 15px;
            }
        }
    }

    .work_list {
        opacity: 0;
        height: 100%;
        position: absolute;
        right: 0;
        transform: translateX(100%);
        top: 0;
        background-color: #0B0C1F;
        align-items: center;
        justify-content: space-between;
        transition: .5s;
        z-index: 5;

        ul {

            li {
                position: relative;
                padding: 20px;


                &:hover {
                    color: #30F0E2;

                    &::after {
                        width: 100%;
                    }
                }

                &::after {
                    content: '';
                    width: 0%;
                    height: 1px;
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    background-color: #30F0E2;
                    transition: .5s;
                }

                a {
                    display: flex;
                    align-items: center;
                    gap: 5px;


                    .num {
                        font-family: var(--mainNum-font);
                        letter-spacing: 2px;
                    }

                    .name {
                        font-family: var(--mainEng-font);
                        text-transform: capitalize;
                        font-weight: 500;
                    }
                }

            }

        }
    }

    .container {
        position: absolute;

        .splide-wrapper {
            overflow: hidden;
            background-color: rgba(255, 255, 255, .4);

            .splide {

                .splide__track {
                    overflow: visible;

                    .splide__slide {
                        position: relative;
                        width: 100%;
                        height: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        color: #fff;
                        cursor: pointer;

                        &:hover {
                            img {
                                filter: grayscale(0%);
                            }

                            .num {
                                -webkit-text-stroke: .5px var(--mainColor-color);
                                -webkit-text-fill-color: var(--mainColor-color);
                            }

                            .web-icon {
                                img {
                                    filter: grayscale(0%);
                                }

                                &.gray {
                                    img {
                                        filter: invert(1);
                                    }
                                }
                            }

                        }

                        .num {
                            font-family: var(--mainNum-font);
                            position: absolute;
                            left: -10px;
                            top: -23px;
                            -webkit-text-stroke: .5px #fff;
                            -webkit-text-fill-color:transparent;
                            z-index: 99;
                            transition: .35s;
                            font-size: 1.8rem;
                            font-weight: 600;
                        }

                        img {
                            display: inline-block;
                            height: 100%;
                            filter: grayscale(100%);
                            transition: .35s;
                        }

                        .web-icon {
                            position: absolute;
                            right: 10px;
                            top: 10px;
                            display: flex;
                            gap: 5px;
                            transition: .35s;


                            img {
                                width: auto;
                                height: 35px;
                                object-fit: cover;
                                filter: grayscale(0%) invert(1);

                            }
                        }

                    }
                }
            }
        }
    }


}

/* max-width: 767px */
@media (max-width: 767px) {
    #work {

        .work_left {
            width: 100%;

            .work_title {
                width: 100%;
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                text-align: center;
                padding-bottom: 80px;

                em {
                    width: auto;
                }

                .details {
                    font-size: .9rem;
                    white-space: nowrap;
                }
            }
        }


        .work_list {
            width: 100%;

            ul {
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                position: absolute;

                &:nth-child(1) {
                    top: 20px;
                    left: 15px;
                }

                &:nth-child(2) {
                    bottom: 20px;
                    left: 15px;
                }

                li {
                    .num {
                        font-size: 1rem;
                    }

                    .name {
                        font-size: 1rem;
                    }
                }
            }
        }

        .container {
            width: 100%;
            height: 100vh;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .splide-wrapper {
                width: 100%;
                height: 30vh;

                .splide {
                    .splide__track {
                        padding: 10px 0;
                    }

                    img {
                        width: 100%;
                    }


                }
            }
        }
    }
}

@media (min-width: 768px) {
    #work {

        .work_left {
            width: 100%;

            .work_title {
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                text-align: center;
                padding-bottom: 80px;
            }

        }

        .work_list {
            width: 100%;

            ul {
                width: 90%;
                display: flex;
                gap: 10px;
                flex-wrap: wrap;
                position: absolute;

                &:nth-child(1) {
                    top: 20px;
                    left: 40px;
                }

                &:nth-child(2) {
                    bottom: 20px;
                    left: 40px;
                }

                li {
                    .num {
                        font-size: 1rem;
                    }

                    .name {
                        font-size: 1.2rem;
                    }
                }
            }
        }

        .container {
            width: 100%;
            height: 100vh;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .splide-wrapper {
                width: 100%;
                height: 30vh;

                .splide {

                    .splide__track {
                        padding: 10px 0;
                    }

                    img {
                        width: 100%;
                    }
                }
            }
        }
    }
}

@media (min-width: 1300px) {
    #work {

        .work_left {
            width: 50%;

            .work_title {
                .details {
                    height: 100px;
                }
            }
        }

        .work_list {
            width: 50%;

            ul {
                width: 45%;
                margin-left: 80px;
                padding: 20px 0;
                position: relative;

                &:nth-child(1) {
                    top: 0px;
                    left: 0px;
                }

                &:nth-child(2) {
                    bottom: 0px;
                    left: 0px;
                }

                li {
                    width: 80%;
                }
            }
        }

        .container {
            right: 3%;
            width: 45%;
            height: 100vh;
            flex-direction: row;

            .splide-wrapper {
                width: 44%;
                height: 100%;

                .splide {
                    margin: auto;

                    .splide__track {
                        padding: 20px 0;
                    }
                }
            }
        }
    }
}